@import url(//db.onlinewebfonts.com/c/dbb5d50716af7c45dd357a6a585d7a9e?family=MoolBoran);

@font-face {
    font-family: "MoolBoran";
    src: url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.eot");
    src: url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.woff") format("woff"),
         url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.ttf") format("truetype"),
         url("//db.onlinewebfonts.com/t/dbb5d50716af7c45dd357a6a585d7a9e.svg#MoolBoran") format("svg");
    }

html {

    font-family: $body-text1;
    font-size: $font-size-base;

    body {
        background: url('../../images/landing_page_bg.png') no-repeat;
        background-size: cover;

        .container-fluid {
          max-width: 780px;
        }
    }
}
